# C++, Tarball outputs
*.o
*.tar

# Editor by-products
*~
*.swp

# Haskell by-products
cabal.config
cabal.sandbox.config
.cabal-sandbox
dist

# MSVC by-products (and inputs)
3p
obj
ipch
bin32
bin64
*.sdf
*.opensdf

# Unix by-products
*.pdf
bin
main

# Media
media

