# C++, package outputs
*.o
*.tar
*.zip
*.xz

# Editor by-products
*~
*.swp

# Haskell by-products
cabal.config
cabal.sandbox.config
.cabal-sandbox
dist

# MSVC by-products (and inputs)
3p
obj
ipch
bin32
bin64
*.sdf
*.opensdf
*.suo
*.user
*.userosscache
*.sln.docstates
*.cachefile
*.aps
*.ncb
*.cd

# Unix by-products
*.pdf
bin
main
treedemo

# Media
media

# Files protected for privacy
contacts
