# C++ by-products
*.o

# Editor by-products
*~
*.swp

# Haskell by-products
cabal.config
cabal.sandbox.config
.cabal-sandbox
dist

# MSVC by-products
3p
obj
ipch
*.obj
*.exe
*.dll

# Outputs
*.pdf
bin
main

# Media
media

